        <div class="col-lg-4">                
            <div class="row g-4">
                {% include "partials/sidebar/episodes.njk" %}
                {% include "partials/sidebar/menu.njk" %}
                {% include "partials/sidebar/host.njk" %}
            </div>
        </div>